/*-----------------------------------General*/

.site-wrapper {
    overflow: hidden;
}
a:hover {
    color: white;
    text-decoration: none;
}

.full-vh {
    height: 100vh;
    min-height: 100vh;
}

.valign-b-center {
    position: relative;
    top: 50%;
    left: 0;
}

/*-----------------------------------Home*/

.home {
    .logo>img {
        position: fixed;
        left: 50%;
        top: 48.5%;
        transform: translate(-50%);
        z-index: 1;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
    }
    a>span:nth-child(2) {
        top: -50%;
    }
}

/*-----------------------------------Explore*/

.explore {
    height: 90%;
    position: relative;
    top: 10%;
    @include tablet {
        height: 25%;
        position: fixed;
        top: 75%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

/*-----------------------------------Navigate*/

/*-----------------------------------Discover*/

.venue-lists {
    height: 40vh;
    overflow: auto;
    background-color: #f2f2f2;
    .venue-list-header {
        padding-top: 0.8rem;
        hr {
            margin-top: -.5rem;
        }
    }
    .venue-list-attractions {
        .venue-list-header {
            color: $attractions;
        }
    }
    .venue-list-accommodation {
        .venue-list-header {
            color: $accommodation;
        }
    }
    .venue-list-restaurants {
        .venue-list-header {
            color: $restaurants;
        }
    }
}

/*-----------------------------------Venue*/