/*-----------------------------------Background colors*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600&#124;Open+Sans");
.bg-color-home {
  background-color: white; }

.bg-color-explore {
  background-color: lightgray; }

.bg-color-navigate {
  background-color: white; }

.bg-color-discover {
  background-color: lightgray; }

.bg-color-venue {
  background-color: lightpink; }

/*-----------------------------------Buttons*/
/*-----------------------------------Legend*/
body {
  font-family: 'Open Sans', sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

.btn-home-explore, .btn-home-navigate, .button-explore-cities, .button-explore-culture, .button-explore-food, .button-explore-shopping {
  color: white;
  font-family: 'Monserrat', sans-serif;
  text-transform: uppercase;
  text-align: center; }

.header {
  height: 9%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .header .navbar {
    padding: 0.3rem 1rem; }
  .header .back-icon {
    position: fixed;
    left: 10px;
    color: white;
    font-size: 1.2rem;
    width: 25px;
    height: 25px; }
  .header .back-icon:hover {
    cursor: pointer; }
  .header .navbar .form-control {
    width: 80%;
    font-size: 0.7rem;
    line-height: 0.7rem;
    padding: .1rem .75rem;
    text-align: center; }
  .header .city-search {
    font-family: 'Open Sans', 'FontAwesome'; }

/*-----------------------------------Explore*/
.btn-home-explore {
  font-size: 32px;
  background-image: url(../images/home-explore.jpg);
  background-size: cover; }

.btn-home-navigate {
  font-size: 32px;
  background-image: url(../images/home-navigate.jpg);
  background-size: cover; }

.button-explore-cities {
  font-size: 24px;
  font-weight: 300;
  background-color: #dbb68f; }

.button-explore-culture {
  font-size: 24px;
  font-weight: 300;
  background-color: #bb7e5d; }

.button-explore-food {
  font-size: 24px;
  font-weight: 300;
  background-color: #8e7563; }

.button-explore-shopping {
  font-size: 24px;
  font-weight: 300;
  background-color: #09989e; }

/*-----------------------------------Legend*/
.legend .legend-btn:focus {
  box-shadow: none; }
.legend .legend-btn-attractions {
  width: 18px;
  height: 18px;
  padding: 2px;
  margin: 2px 10px;
  background-color: #09989e; }
.legend .legend-btn-accommodation {
  width: 18px;
  height: 18px;
  padding: 2px;
  margin: 2px 10px;
  background-color: #cc3333; }
.legend .legend-btn-restaurants {
  width: 18px;
  height: 18px;
  padding: 2px;
  margin: 2px 10px;
  background-color: #8b40bf; }
.legend .btn i {
  font-size: 11px;
  position: relative;
  top: -7px; }
.legend .legend-label {
  font-size: 11px; }

/*-----------------------------------Venue*/
.venue .close-icon {
  float: right;
  margin-top: 2px;
  width: 20px;
  height: 20px; }
.venue .close-icon:hover {
  cursor: pointer; }
.venue p {
  margin-bottom: 3px; }
.venue p.small {
  font-size: 70%; }
.venue .venue-image {
  background-image: url(https://via.placeholder.com/375x400/);
  background-size: cover;
  background-position: center; }
.venue .icon-info {
  margin-bottom: 0; }

/*-----------------------------------General*/
a:hover {
  color: white;
  text-decoration: none; }

.full-vh {
  height: 100vh;
  min-height: 100vh; }

.h-less-nav {
  height: 91%;
  position: relative;
  top: 9%; }

.valign-b-center {
  position: relative;
  top: 50%;
  left: 0; }

/*-----------------------------------Home*/
.home .logo > img {
  position: fixed;
  left: 50%;
  top: 48.5%;
  transform: translate(-50%);
  z-index: 1; }
.home .overlay {
  background-color: rgba(0, 0, 0, 0.5); }
.home a > span:nth-child(2) {
  top: -50%; }

/*-----------------------------------Explore*/
/*-----------------------------------Navigate*/
/*-----------------------------------Discover*/
/*-----------------------------------Venue*/

/*# sourceMappingURL=main.css.map */
