.button-explore-cities {
    background-color: $btn-cities;
}
.button-explore-culture {
    background-color: $btn-culture;
}
.button-explore-food {
    background-color: $btn-food;
}
.button-explore-shopping {
    background-color: $btn-shopping;
}