.header {
    height: $nav-h;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .navbar {
        padding: 0.3rem 1rem;
    }
    .navbar .form-control {
        width: 80%;
        font-size: 0.7rem;
        line-height: 0.7rem;
        padding: .1rem .75rem;
        text-align: center;
    }
    .city-search {
       font-family: 'Open Sans', 'FontAwesome';
    }
}