%flatButton {
    color: white;
    font-family: 'Monserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@mixin exploreButton ($color) {
    @extend %flatButton;
    font-size: 24px;
    font-weight: 300;
    background-color: $color;
}

@mixin homeButton ($image) {
    @extend %flatButton;
    font-size: 32px;
    background-image: url(#{$image});
    background-size: cover;
}